.input_link {
    border: none;
    background: #F8F8FB;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7B7BA4;
    width: 40%;
}

.input_block {
    background: #F8F8FB;
    border-radius: 10px;
    padding: 15px;
}

.datepicker {
    width: 54%;
}

#datepicker {
    width: 100%;
    cursor: pointer;
}

.datepicker__header {
    width: auto;
}

.pen-edit-pos {
    pointer-events: none;
}