.input_link {
    border: none;
    background: #F8F8FB;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7B7BA4;
    width: 40%;
}

.input_block {
    background: #F8F8FB;
    border-radius: 10px;
    padding: 15px 20px 15px 22px;
}

.datepicker {
    width: 43%;
}

#datepicker {
    width: 100%;
    cursor: pointer;
}

.datepicker__header {
    width: auto;
}

.pen-edit-pos {
    pointer-events: none;
}
.datepicker__header {
    background: #888AF7;
}
.datepicker table th {
    color: #888AF7;
}
.datepicker__day.is-disabled, .datepicker__day.is-otherMonth {
    color: #888AF7;
}
.datepicker__day.is-today {
    color: #888AF7;
}

.datepicker__wrapper {
    border: 1px solid #888AF7;
}
.datepicker__day.is-selected div {
    background: #888AF7;
}
.datepicker__day div:hover, .datepicker__day.is-highlighted div {
    background: #888AF7;
}
.datepicker__day.is-selected:hover div::after {
    background: #888AF7;
}
